In [2]:
print ("hello world")

hello world

In [9]:
a=10
type(a)
b="shalu"
type(b)
c=22.3
type(c)

float

In [15]:
2//2

1

In [16]:
3//2

1

In [17]:
3/2

1.5

In [22]:
a=3+6j
b=3+5j
c=a+b

In [23]:
print (c)

(6+11j)

In [24]:
3+(4+3j)

(7+3j)

In [25]:
"shalu's lap"

"shalu's lap"

In [31]:
a=r'c:\new'

In [32]:
a

'c:\\new'

In [34]:
print ("type casting")

type casting

In [35]:
a=22
type(a)

int

In [45]:
b=float(a)
print(b)

22.0

In [38]:
type(b)

float

In [46]:
b=22.7
int(b)

22

In [53]:
y=str(input("enter the y value"))

enter the y value"varatha"

In [54]:
type(y)

str

In [55]:
x=str(input("enter the x value"))

enter the x value"papa"

In [56]:
type(x)

str

In [57]:
z=x+y

In [58]:
print(z)

"papa""varatha"

In [59]:
x=input()

2+4*3

In [60]:
x

'2+4*3'

In [61]:
x=eval(input())

x

In [62]:
print(x)

2+4*3

In [63]:
x

'2+4*3'

In [64]:
c=input("enter the name")

enter the namepapa and varatha

In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
for=1

SyntaxError: invalid syntax (<ipython-input-2-c1c73b7facad>, line 1)

In [4]:
True=2

SyntaxError: can't assign to keyword (<ipython-input-4-acc4408eb7d0>, line 1)

In [8]:
import keyword
keyword.iskeyword("techbeamber")

False

In [9]:
keyword.iskeyword("else")

True

In [11]:
"shalu".isidentifier()

True

In [16]:
"Shalu57".isidentifier()

True

In [13]:
"shalu.in".isidentifier()

False

In [14]:
"shalu_in".isidentifier()

True

In [6]:
import keyword as kw
kw.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [1]:
"shal".isidentifier()

True

In [2]:
test=10
id(test)

140713151722016

In [4]:
shalu=2345
id(shalu)

3152349856880

In [6]:
shalu={'python','c','c++'}
type(shalu)

set

In [7]:
shalu='varatha'
type(shalu)

str

In [8]:
#using aritmetic expressions
((10+2)*100/5-200)

40.0

In [10]:
#  using function in an expressions
pow(12,13)
# using eval in an expression
eval("2.5+2.4")

4.9

In [13]:

test="learn python"
id(test)

3152350554544

In [18]:
shalu_test=test
id(shalu_test)

3152350554544

In [21]:
sha_tuple=(10,20,30)
sha_tuple+=(40,50,)
print(sha_tuple)

(10, 20, 30, 40, 50)

In [22]:
#intializing a list using tohe muli-line statement
sha_list=[1,\
         2,\
         3,\
         4,
         
         ]
print(sha_list)

[1, 2, 3, 4]

In [28]:
eval(\
     "34\
     +\
     4\
    +\
     4")

42

In [32]:
sub=['eng',
    'sci',
    'math'
     ]
print(sub)

['eng', 'sci', 'math']

In [33]:
type(sub)

list

In [ ]:

    num =int(input('enter a number:'))
    if demo_routine(num) is True:
        print(num,'is an even number')
    else:
        print(num,'is an odd number')

In [ ]:
def demo_routine(num):
   print('I am a demo function')
if num%2==0:
    print (True)
else:
    print(False)

In [ ]:
eval(34,5)

In [ ]:
pow(3,2)

In [3]:
# difine a list of months
months=['jan','feb','mar','apr','may',]
#
#function to print the calender months
def showcalender(months):
    print(months)
    showcalender(months)

In [4]:
def theFunction():
    '''
This function demonstrate the use of docstring in Python.
    '''
    print("Python docstrings are not comments.")

print("\nJust printing the docstring value...")
print(theFunction.__doc__)

Just printing the docstring value...

This function demonstrate the use of docstring in Python.

In [11]:
def papalub():
    '''  
    papa love varatha 
    '''
    print("python docstrings are not comments.")
    
print("just printing the docstring value...")
print(papalub.__doc__)

just printing the docstring value...

    papa love varatha

In [14]:
#boolean 
conditions=False
if condition==True:
    print("you can cont with the program.")
else:
    print("the program will end here.")

NameError: name 'condition' is not defined

In [15]:
str="papaandvaratha"
len(str)

14

In [18]:
len(str)==14

True

In [20]:
len(str) !=14

False

In [22]:
A=5
B=5
A, B = True + 0, False + 0
 print(A, B)

IndentationError: unexpected indent (<ipython-input-22-a3c2810e7369>, line 4)

In [1]:
complex(1.2,4)

(1.2+4j)

In [4]:
sa=245678903456789123456789
sa.bit_length()

78

In [5]:
sa

245678903456789123456789

In [6]:
sa.bit_length()

78

In [7]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [9]:
sys.float_info.radix

2

In [10]:
print(type("shalu"))

<class 'str'>

In [13]:
print(type(u'shalu and papa'))

<class 'str'>

In [16]:
str="shalini ganesan"
first_five =str[:5]

In [17]:
print(first_five)

shali

In [2]:
#make an empty bytes bytes object(8-bit bytes)
empty_object = bytes(16)
print(type(empty_object))

<class 'bytes'>

In [3]:
print(empty_object)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [9]:
assorted_list = [True, False, 1, 1.1, 1+2j, 'Learn', b'Python']
sha_first=assorted_list[4]
print(sha_first)
print()

(1+2j)

In [7]:
for item in assorted_list:
    print(type(item))

<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bytes'>

In [10]:
simple_=[2,3,4]
simple_[2]=44

In [11]:
print(simple_)

[2, 3, 44]

In [15]:
nest=[[1,2],[2,3],[3,4]]
for items in nest:
    for item in items:
        print(item)

1
2
2
3
3
4

In [20]:
#tuple class
#creating new tuple
#nested tuple
shalu_tup=(1,3,45,5,6)
varatha_tup=('papa', 'mine')
nested_tup=(shalu_tup,varatha_tup)

In [19]:
print(nested_tup)

((1, 3, 45, 5, 6), ('papa', 'mine'))

In [23]:
#repetition tuple
sha_tup=('papa',)*100

In [24]:
print(sha_tup)

('papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa', 'papa')

In [28]:
#dic
sh_dic={'shalu:tamil','shalu:papa',}
type(sh_dic)

set

In [1]:
#create new string
str_sha="shalu"

In [13]:
str_sha2='shalini ganesan'

In [7]:
str_sha3="""shaluma
shalini always cool
she had cute best frd
and handsome idiot with her 
and pullingos"""

In [8]:
print(str_sha3)

shaluma
shalini always cool
she had cute best frd
and handsome idiot with her
and pullingos

In [15]:
print(str_sha2[1:6])

halin

In [17]:
v1='varatha'
v2='papa'
v3=(v1+v2)

In [18]:
print(v3)

varathapapa

In [19]:
v1='varatha'
print(v1*3)

varathavarathavaratha

In [20]:
print(v1[2])

r

In [21]:
print(v1[2:5])

rat

In [22]:
print('r' in v1)

True

In [23]:
print('n'in v1)

False

In [24]:
print(r'\n')

\n

In [26]:
print("sgha\"ib \"sha")

sgha"ib "sha

In [30]:
print ("Employee Name: %s,\nEmployee Age:%d"  % ('shalu',34))

Employee Name: shalu,
Employee Age:34

In [31]:
print(v1.capitalize())

Varatha

In [32]:
print(v1.lower())

varatha

In [33]:
print(v1.upper())

VARATHA

In [34]:
print(v1.swapcase())

VARATHA

In [35]:
print(v1.title())

Varatha

In [42]:
shalu='a'
print(v1. count(shalu))

3

In [48]:
v1="shalini is always cool "
print(v1.replace('always','anytime'))

shalini is anytime cool

In [51]:

print(v1.split())

['shalini', 'is', 'always', 'cool']

In [61]:
s='papa'
print(v1.join(s))

pshalini is always cool ashalini is always cool pshalini is always cool a

In [62]:
print(len(v1))

23

In [3]:
x=3+5j
print(x)

(3+5j)

In [4]:
x.real

3.0

In [6]:
x.imag

5.0

In [7]:
x=0b010

In [8]:
print(x)

2

In [9]:
print(x+23)

25

In [11]:
isinstance(23455,int)

True

In [14]:
divmod(22,10)

(2, 2)

In [15]:
import decimal
print(0.28)
print(decimal.Decimal(0.28))

0.28
0.2800000000000000266453525910037569701671600341796875

In [31]:
from math import ceil
s= ceil(4.26)
print(s)

5

In [30]:
import fractions
print(fractions.Fraction(5.2))

5854679515581645/1125899906842624

In [34]:
sha_list=[1,2,3]
len(sha_list)

3

In [35]:
list=[iter for iter in range(100)]

In [36]:
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [37]:
range(2)

range(0, 2)

In [44]:
list_contry=["India","America","England","Germany","Brazil","Vietnam"]
first_let=[contry[0] for contry in list_contry]
print(first_let)

['I', 'A', 'E', 'G', 'B', 'V']

In [47]:
l1=['s','h','a','l','u']
l2=['v','a','r','a','t','h','a']
l1.extend(l2)
print(l1)

['s', 'h', 'a', 'l', 'u', 'v', 'a', 'r', 'a', 't', 'h', 'a']

In [51]:
l1=['a','f']
l1.append('d')
l1

['a', 'f', 'd']

In [54]:
the_list=[1,2,3,4,5,6]
id(the_list)

1720267343176

In [55]:
id(the_list[::])

1720267259016

In [56]:
id(the_list[::2])

1720267339656

In [57]:
the_list[::2]

[1, 3, 5]

In [65]:
thelist=['c','c++','python']
for shalu in thelist:
 print("i love",shalu)

i love c
i love c++
i love python

In [69]:
theList = ['a','e','i','o','u']

def matchall(theList, value, pos=0):
    loc = pos - 1
    try:
        loc = theList.index(value, loc+1)
        yield loc
    except ValueError:
        pass

value = 'o'
for loc in matchall(theList, value):
    print("match at", loc+1, "position.")

match at 4 position.

In [76]:
theList = ['a','e','i','o','u']
theList.sort(reverse=True)
print(theList)

['u', 'o', 'i', 'e', 'a']

In [77]:
#create a set

sha_set={3,6,1,2,3,0}
print(sha_set)

{0, 1, 2, 3, 6}

In [78]:
#create a set of mixed data
sha_set2={1,5,8,2,3,4,(10,11)}

In [80]:
print(sha_set2)

{1, 2, 3, 4, 5, (10, 11), 8}

In [81]:
type(sha_set2)

set

In [1]:
sha_set3={1,"23",3,(1,2)}

In [5]:
print(sha_set3)

{(1, 2), 1, 3, '23'}

In [6]:
sha_set_mix=set([1,3,5,7,9,"22"])

In [10]:
py_list = [11, 1.1, "11", (1, 2)]
py_list.append(12)
print(py_list)
#py_set_mix = set(py_list)
#print(py_set_mix)

[11, 1.1, '11', (1, 2), 12]

In [11]:
list_a =[1,4,2,7,4,5]
list_a.append(23)
print(list_a)

[1, 4, 2, 7, 4, 5, 23]

In [16]:
list_a.extend('9')
print(list_a)

[1, 4, 2, 7, 4, 5, 23, '9']

In [20]:
set(list_a)

{1, 2, 23, 4, 5, 7, '9'}

In [21]:
print(list_a)

[1, 4, 2, 7, 4, 5, 23, '9']

In [23]:
list_a.update(25)
print(list_a)

AttributeError: 'list' object has no attribute 'update'

In [32]:
# Let's try to change a Python set
py_set_num = {77, 88}

#try:
   # print(py_set_num[0])
#except Exception as ex:
   # print("Error in py_set_num[0]:", ex)

print( py_set_num)

# Let's add an element to the set
py_set_num.add(99)
print( py_set_num)

# Let's add multiple elements to the set
py_set_num.update([44, 55, 66])
print (py_set_num)

# Let's add a list and a set as elements
py_set_num.update([4.4, 5.5, 6.6], {2.2, 4.4, 6.6})
print( py_set_num)

{88, 77}
{88, 99, 77}
{66, 99, 44, 77, 55, 88}
{66, 99, 4.4, 5.5, 6.6, 2.2, 44, 77, 55, 88}

In [26]:
print(list_a)

[1, 4, 2, 7, 4, 5, 23, '9']

In [36]:
set_a={1,2,3,4,5,6,7}
print(set_a)

{1, 2, 3, 4, 5, 6, 7}

In [37]:
set_a.add(8)
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
set_a.update([2.1,3.1,55])
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8, 2.1, 3.1, 55}

In [41]:
set_a.discard(2.1)
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8, 3.1, 55}

In [46]:
set_a.remove(3.1)
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8, 55}

In [49]:
set_a.pop()
print(set_a)

{2, 3, 4, 5, 6, 7, 8, 55}

In [50]:
set_a.clear()
print(set_a)

set()

In [66]:
set_a={1,2,3,4,5}
set_b={5,6,7,8,9}

print("initialize set_a:",set_a)
print("size:",len(set_a))
print("initialize set_b:",set_b,"size:",len(set_b))

print(set_a | set_b)
print("size:",len(set_a|set_b))

initialize set_a: {1, 2, 3, 4, 5}
size: 5
initialize set_b: {5, 6, 7, 8, 9} size: 5
{1, 2, 3, 4, 5, 6, 7, 8, 9}
size: 9

In [68]:
print(set_a & set_b)
print("size:",len(set_a&set_b))

{5}
size: 1

In [69]:
intersectAB=set_a.intersection(set_b)
print(intersectAB)

{5}

In [72]:
set_AB=set_b-set_a
print(set_AB)

{8, 9, 6, 7}

In [75]:
symmentric_dif=set_a^set_b

In [77]:
print(symmentric_dif)
print(len(symmentric_dif))

{1, 2, 3, 4, 6, 7, 8, 9}
8

In [82]:
#access set  in element
basket = set(["apple", "mango", "banana", "grapes", "orange"])
for shalu in basket:
 print(shalu)

orange
banana
grapes
apple
mango

In [86]:
print('shalu' in basket)

False

In [87]:
# Python Sample - Standard vs. Frozen Set

# A standard set
std_set = set(["apple", "mango","orange"])
 
# Adding an element to normal set is fine
std_set.add("banana")
 
print("Standard Set:", std_set)
 
# A frozen set
frozen_set = frozenset(["apple", "mango","orange"])
 
print("Frozen Set:", frozen_set)
 
# Below code will raise an error as we are modifying a frozen set
try:
    frozen_set.add("banana")
except Exception as ex:
    print("Error:", ex)

Standard Set: {'orange', 'mango', 'banana', 'apple'}
Frozen Set: frozenset({'orange', 'mango', 'apple'})
Error: 'frozenset' object has no attribute 'add'

In [88]:
#tuple  creation
py_tuple =()

In [89]:
print(py_tuple)

()

In [90]:
py_tuple=33,55,88

In [91]:
print(py_tuple)

(33, 55, 88)

In [92]:
print(type(py_tuple))

<class 'tuple'>

In [93]:
a=tuple({2,3,4,5})

In [94]:
print(type(a))

<class 'tuple'>

In [95]:
a=("shalu")

In [97]:
print(type(a))

<class 'str'>

In [103]:
a=tuple("shalu")
print(a)

('s', 'h', 'a', 'l', 'u')

In [99]:
type(a)

tuple

In [116]:
a[1:]

('h', 'a', 'l', 'u')

In [117]:
a

('s', 'h', 'a', 'l', 'u')

In [120]:
for item in a:
    print(item)

s
h
a
l
u

In [1]:
#create dictionary
cls={'name':'shalu','course':'python'}
print("name:",cls['name'])
print("course:",cls['course'])

name: shalu
course: python

In [10]:
detail= {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}
print(dict.get('Student Name'))

Berry

In [12]:
dic_app={"1":"shalu","2":"papa"}

In [14]:
dic_app

{'1': 'shalu', '2': 'papa'}

In [21]:
dic_app["3"]="varatha"

In [33]:
dic_app["5"]="lve"

In [34]:
print(dic_app)

{'1': 'shalu', '2': 'papa', '3': 'varatha', '4': 'tamil', '5': 'lve'}

In [27]:
li=['a','s']
li.append('6')

In [28]:
print(li)

['a', 's', '6']

In [35]:
lie={1:"shalu",2:"varatha",3:"tamil"}

In [36]:
print(lie)

{1: 'shalu', 2: 'varatha', 3: 'tamil'}

In [43]:
lie.update(soulfulllove=3)
print(lie)

{1: 'shalu', 2: 'varatha', 3: 'tamil', 'soulfulllove': 3}

In [60]:
# Create a Python dictionary
sixMonths = {1:31, 2:28, 3:31, 4:30, 5:31, 6:30}

# Delete a specific element
print(sixMonths.pop(6)) 
print(sixMonths)

# Delete an random element
print(sixMonths.popitem())
print(sixMonths)

30
{1: 31, 2: 28, 3: 31, 4: 30, 5: 31}
(5, 31)
{1: 31, 2: 28, 3: 31, 4: 30}

In [61]:
sixMonths.clear()
print(sixMonths)

{}

In [63]:
del sixMonths
print(sixMonths)

NameError: name 'sixMonths' is not defined

In [74]:
dict = {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}
print("key are:")
for key in dict:
    
 print(key)

key are:
Student Name
Roll No.
Subject

In [75]:
print('12' not in dict)

True

In [1]:
test="sha"
print('{}'.format(test))

sha

In [5]:
sha="shalu"
lini="papa"
print(sha, lini)

shalu papa

In [6]:
print('{}{}'.format(sha, lini))

shalupapa

In [8]:
print('hello')

hello

In [20]:
print(format("hello","&^53s"))

&&&&&&&&&&&&&&&&&&&&&&&&hello&&&&&&&&&&&&&&&&&&&&&&&&

In [24]:
print('{0:b}'.format(10))

1010

In [35]:
print('{0:o}'.format(10))

12

In [36]:
print('{0:x}'.format(12))

c

In [43]:
print('{0:g}'.format(1.23))

1.23

In [51]:
sha=['sha','lu','ma']
print('name:{}'.format(sha))

name:['sha', 'lu', 'ma']

In [52]:
print("name:",sha)

name: ['sha', 'lu', 'ma']

In [62]:
print('name:{0[0]}'.format(*sha))

name:s

In [69]:
import keyword as kw
kw.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [71]:
7//3

2

In [72]:
2+1

3

In [73]:
2-1

1

In [74]:
2%2

0

In [75]:
2/2

1.0

In [78]:
20//10

2

In [79]:
2*2

4

In [82]:
22==2

False

In [83]:
33==33

True

In [84]:
33>4

True

In [85]:
33<3

False

In [86]:
33<=3

False

In [87]:
33<=33

True

In [88]:
33>=3

True

In [89]:
33>3

True

In [90]:
.33>2

False

In [91]:
.33<2

True

In [95]:
22!=22

False

In [96]:
2 and 3

3

In [97]:
2 or 3

2

In [100]:
a= 3
b= 4

In [101]:
print(a and b)

4

In [102]:
print (a or b)

3

In [103]:
print  (not a)

False

In [104]:
a&b

0

In [105]:
a|b

7

In [107]:
~b

-5

In [108]:
a^b

7

In [110]:
a>>b

0

In [111]:
a<<b

48

In [115]:
a=4
b=6

#Bitwise AND: The result of 'a & b' is 4
print('a & b is',a&b)

a & b is 4

In [134]:
a=10

In [135]:
a+=3
print(a)

13

In [136]:
a-=3

In [137]:
a

10

In [138]:
a*=2

In [139]:
a

20

In [140]:
a%=.5

In [141]:
a

0.0

In [142]:
a/=24

In [143]:
a

0.0

In [144]:
a**=2

In [145]:
a

0.0

In [146]:
a

0.0

In [147]:
print(a)

0.0

In [148]:
a=24
a

24

In [150]:
a*=2

In [151]:
a

48

In [152]:
a|=2

In [153]:
a

50

In [154]:
a^=2

In [155]:
a

48

In [156]:
a<<=2

In [157]:
a

192

In [158]:
a>>=3

In [159]:
a

24

In [168]:
a=44.565656565
if (type(a) is int):
    print("true")
else:
    print("false")

false

In [171]:
a=[1,2,3,4,5,6,7]

if (52 not in (a)):
    print("true")
else:
    print("false")

true

In [173]:
str ='python love'
print('l' not in str)

False

In [4]:
4*7%3

1

In [5]:
2*(10%5)

0

In [16]:
5+4*3

17

In [17]:
(4+5)*3

27

In [23]:
def function():
 print('It is a function.')
 
foo = function
foo()

It is a function.

In [26]:
a_var = 10
print("begin()->",dir())
    
def foo():
    b_var=11
    print("inside foo()->",dir())
    
    
foo()
print("end()->",dir())

begin()-> ['In', 'Out', '_', '_16', '_17', '_4', '_5', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a_var', 'exit', 'foo', 'function', 'get_ipython', 'quit', 'x']
inside foo()-> ['b_var']
end()-> ['In', 'Out', '_', '_16', '_17', '_4', '_5', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a_var', 'exit', 'foo', 'function', 'get_ipython', 'quit', 'x']

In [27]:
a_var = 10
print("begin()-> ", dir())
 
def foo():
 b_var = 11
 print("inside foo()-> ", dir())
 
foo()
 
print("end()-> ", dir())

begin()->  ['In', 'Out', '_', '_16', '_17', '_4', '_5', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a_var', 'exit', 'foo', 'function', 'get_ipython', 'quit', 'x']
inside foo()->  ['b_var']
end()->  ['In', 'Out', '_', '_16', '_17', '_4', '_5', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a_var', 'exit', 'foo', 'function', 'get_ipython', 'quit', 'x']

In [34]:
def outer_foo():
    outer_var = 3
    def inner_foo():
        inner_var = 5
        print(dir(), ' - names in inner_foo')
    outer_var = 7
    inner_foo()
    #print(dir(), ' - names in outer_foo')
     
outer_foo()

['inner_var']  - names in inner_foo

In [37]:
from <module name> import*

SyntaxError: invalid syntax (<ipython-input-37-fa3f8227e873>, line 1)

In [39]:
#for iter in sequence:
    #statements()

In [43]:
name="shalini_ganesan"
for item in name:
    print(item)

s
h
a
l
i
n
i
_
g
a
n
e
s
a
n

In [44]:
a=(22,33,33,44,55,555)

In [45]:
b=0

In [46]:
for item in a:
    b+=item
print(b)

742

In [48]:
print(b/len(a))

123.66666666666667

In [51]:
range(0,10)[4]

4

In [52]:
range(0,3)

range(0, 3)

In [12]:
for item in range(25):
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [16]:
 for iter in range(100):
        print("shalini")

shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini
shalini

In [18]:
x=("shalu","shalini","shalini_ganesan")
for s in x:
    print("i hate",s)

i hate shalu
i hate shalini
i hate shalini_ganesan